version: 2
jobs:
  test:
    docker:
      - image: circleci/node:8
    working_directory: ~/semantic-release-test
    steps:
      - checkout
      - run: npm i
      - run: npm run test
  release:
    docker:
      - image: circleci/node:8
    working_directory: ~/semantic-release-test
    steps:
      - checkout
      - run: npm i
      - run: npm run build
      - run: npx semantic-release

workflows:
  version: 2
  test_and_release:
    # Run the test jobs first, then the release only when all the test jobs are successful
    jobs:
      - test:
          context: HX-COMPONENTS    
      - release:
          context: HX-COMPONENTS
          requires:
            - test
          filters:
            branches:
              only: master